<beans:beans xmlns="http://www.springframework.org/schema/security"
	xmlns:beans="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans-4.3.xsd
		http://www.springframework.org/schema/security
		http://www.springframework.org/schema/security/spring-security-4.2.xsd">
		
	<beans:description>spring security</beans:description>

	<http pattern="/member*/**" security="none" />
	<http pattern="/extra/**" security="none" once-per-request="false" />

	<http auto-config="true" use-expressions="true">
		<intercept-url pattern="/pages/security/admin**" access="hasRole('ROLE_ADMIN')" />

		<form-login login-page="/security/login"
			default-target-url="/security/homePage"									
			authentication-failure-url="/security/login?errorMsg"
			username-parameter="username"
			password-parameter="password" />

		<logout logout-success-url="/security/logout" delete-cookies="JSESSIONID" />

		<csrf />
			
		<access-denied-handler error-page="/security/403" />
	</http>

	<authentication-manager>
		<authentication-provider>
			<jdbc-user-service data-source-ref="dataSource"
				users-by-username-query="SELECT USERNAME,PASSWORD, ENABLED FROM USERS WHERE USERNAME = ?"
				authorities-by-username-query="SELECT USERNAME, ROLE FROM USER_ROLES WHERE USERNAME = ?" />
		
			<password-encoder ref="encoder" />
		
		</authentication-provider>
		
	</authentication-manager>
	
	<beans:bean id="encoder" class="org.springframework.security.crypto.bcrypt.BCryptPasswordEncoder">
		<beans:constructor-arg name="strength" value="10" />
	</beans:bean>

</beans:beans>